body {
  margin: 0px, auto;
  padding: 0.4rem;
  font-family: sans-serif;
  display: flex;
}

div {
  margin: 0px, auto;
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  max-width: 900px;
}

.headerRow {
  display: flex;
  margin: 0 auto;
}

.lambdaLogo {
  display: flex;
  width: 10%;
  height: auto;
}